<html>
<head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Super Chat temps réel !</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html, body {
            background-color: #171515;
        }

        .card {
            display: flex;
            flex-direction: column;
            word-wrap: break-word;
            background-color: #04293A;
            border: 1px solid #ECB365;
            margin: auto;
            width: 60%;
            color: white;
        }

        .card #pills-tab {
            height: 51px;
            border-bottom: 1px solid #ECB365;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .card li.nav-item button.nav-link {
            color: white;
            background: #064663;
            height: 50px;
            min-width: 100px;
        }

        .card li.nav-item button.nav-link.active {
            color: white;
            font-weight: bold;
            background: #ECB365;
            height: 50px;
            min-width: 100px;
        }

        .tab-pane.fade.card-body {
            display: none;
        }

        .tab-pane.fade.card-body.active.show {
            display: flex;
            flex-direction: column;
        }

        .card-body {
            height: 60vh;
            display: flex;
            flex-direction: column-reverse;
            padding: 0.5em 1.25em;
            overflow-y: scroll;
        }

        .card-footer {
            background-color: #064663;
            height: 51px;
            border-top: 1px solid #ECB365;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input {
            color: white !important;
            padding: 0.25rem 0.75rem !important;
        }

        input[type="text"] {
            width: 80%;
            background-color: #04293A;
            color: white;
        }

        input[type="submit"]#envoi_message, .btn.btn-primary {
            background-color: #ECB365;
            font-weight: bold;
        }

        form, .form-group.d-flex {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="card">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab-general" data-type="private_message" data-channel_id="tab-general"  data-bs-toggle="pill" data-bs-target="#zone-chat-tab-general"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="true" onclick="setChannel(this)">Général
            </button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade card-body show active" id="zone-chat-tab-general" data-room="tab-general" role="tabpanel" aria-labelledby="tab-general" tabindex="0"></div>
    </div>
    <form action="/" id="formulaire_chat" class="card-footer" method='post'>
        <div class="form-group d-flex">
            <input type="text" id="message" name='message' class="px-1" placeholder='Votre message...' autocomplete="off" >
            <input type="submit" id="envoi_message" class="font-bold px-1" value='Envoyer'>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
<script src='./socket.io/socket.io.js'></script>
<script src="./client"></script>
</body>
</html>
